<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="EngagementsContext" connectionString="metadata=res://*/Data.EngagementsModel.csdl|res://*/Data.EngagementsModel.ssdl|res://*/Data.EngagementsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-KH3RHD4;initial catalog=EngagementsDB;user id=sa;password=password;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="FoundryAssessmentWinForms.Properties.Settings.connString"
      connectionString="Data Source=DESKTOP-KH3RHD4;Initial Catalog=EngagementsDB;User ID=sa;Password=password" />
  </connectionStrings>
</configuration>